<div class="row" *ngIf="opciPodaci">
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-header">
        Nove poruke
      </div>
      <div class="card-body">
        <h5 class="card-title">{{opciPodaci.novePoruke}}</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-header">
        Broj aktivnih
      </div>
      <div class="card-body">
        <h5 class="card-title">{{opciPodaci.aktivne}}</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-header">
        Na ponudi
      </div>
      <div class="card-body">
        <h5 class="card-title">{{opciPodaci.naPonudi}}</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-header">
        Broj prodanih
      </div>
      <div class="card-body">
        <h5 class="card-title">{{opciPodaci.prodane}}</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
      <div class="card-header">
        Broj isteklih
      </div>
      <div class="card-body">
        <h5 class="card-title">{{opciPodaci.brojIsteklih}}</h5>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card">
    <div class="card-header">
      Broj izdvojenih
    </div>
    <div class="card-body">
      <h5 class="card-title">{{opciPodaci.brojIzdvojenih}}</h5>
    </div>
  </div>
  </div>

</div>
