<base href="/" />
<div class="wrapper">
 <header>
  
   <nav class="navbar navbar-expand-sm   navbar-light bg-light">
     <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"> <img src="../../../assets/images/ibi_logo_horizontal.png" alt="IBI NEKRETNINE" height="42"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">        
          <li class="nav-item">
            <a class="nav-link" href="#">NEKRETINE <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">O nama</a>
          </li>
          <!-- <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Our Service
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="#">service2</a>
            <a class="dropdown-item" href="#">service 2</a>
            <a class="dropdown-item" href="#">service 3</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Kontakt']">Kontakt</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Call</a>
        </li> -->
         <!-- <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Dropdown link
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
            <a class="dropdown-item" href="#">Link 4</a>
            <a class="dropdown-item" href="#">Link 5</a>
            <a class="dropdown-item" href="#">Link 6</a>
          </div>
        </li> -->
        </ul>
        <div class="social-part">
          <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="http://www.facebook.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>          
          
        </div>
      </div>
     </div>
    
  </nav>
  
 </header>
  <div style="margin-top:2%">
    <router-outlet></router-outlet>
  </div>


  <!-- <script type="text/javascript" src="../../../assets/external/scripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/jquery-migrate-3.1.0.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/chosen.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/magnific-popup.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/owl.carousel.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/rangeSlider.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/sticky-kit.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/slick.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/masonry.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/mmenu.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/tooltips.min.js"></script>
  <script type="text/javascript" src="../../../assets/external/scripts/custom.js"></script> -->
</div>
