<div class="main-search">
  <div class="container search">
    <pretraga-form></pretraga-form>
  </div>
</div>

https://swiperjs.com/demos/#free_mode_no_fixed_positions
https://stackblitz.com/edit/angular-with-swiper?file=app%2Fapp.component.html

<div class="container" style="margin-top:2%;">
  <div class="col-sm-12" style="margin-top: 1%;  margin-bottom: 1%;  border-bottom: 1px solid lightgray;">
    <h4>Najnovije nekretnine</h4>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 col-xl-4" style="margin-top:1%;margin-bottom:1%" *ngFor="let nekretnina of rezultatPretrage">
      <nekretnina-basic class="nekretnina-basic" [nekretnina]="nekretnina"></nekretnina-basic>
    </div>  
    <div class="row div-center" style="width:100%; margin-top:5px">
      <button class="btn btn-info" [disabled]="!imaJos" (click)="dajJos()" style="width:25%">Učitaj još...</button>  
    </div>
  </div>
  
</div>


