
.main-search{
    background-image: url("/assets/images/search_backround.jpg"); 
    background-attachment: fixed; background-size: cover; background-position: 50% -79.8085px;
}

.swiper-element{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.izdvojeni{
    margin-top:75px;
    height: 400px;
}

h3{
    font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}