.search{
    padding-top: 2%;
    padding-bottom: 7%;
}

.main-search{
    background-image: url("/assets/images/search_backround.jpg"); background-attachment: fixed; background-size: cover; background-position: 50% -79.8085px;
}