<form [formGroup]="izdvojenaNekretninaForm" (ngSubmit)="dodajAzurirajIzdvojenuNekretninu()" *ngIf="showForm">      
  <div class="modal-body">   
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <!-- <h3 *ngIf="nova">{{nekretnina.naziv}}</h3>
            <h3 *ngIf="!nova">{{izdvojenaNekretnina.nekretnina.naziv}}</h3> -->
          </div> 
        </div>

          <div class="form-group">
            <label class="control-label" for="dateOfBirth">Datum od</label>
            <div class="input-group">
                <dx-date-box
                    displayFormat="dd.MM.yyyy."
                    name="vaziOd" formControlName="vaziOd">
                </dx-date-box>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="dateOfBirth">Datum do</label>
            <div class="input-group">
                <dx-date-box
                    displayFormat="dd.MM.yyyy."
                    [min]="f.vaziOd.value"
                    name="vaziDo" formControlName="vaziDo">
                </dx-date-box>
            </div>
          </div>

          <div class="form-group">
            <dx-check-box formControlName="aktivan"
                            [width]="120"
                            text="Aktivan"
                        ></dx-check-box>
          </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="odustani()">Odustani</button>
    <button type="submit" class="btn btn-success">Potvrdi</button>
  </div>
</form>
