<div id="overlay" *ngIf="showLoader">
    <div class="spinner"></div>
    <br/> 
    Učitavam...
</div>
<ng-progress #progressBar (started)="onStarted()" (completed)="onCompleted()"></ng-progress> 
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <a id="show-sidebar" class="btn btn-sm btn-dark" (click)="toggleSidebar()" style="cursor: pointer;">
    <i class="fas fa-bars" style="color:white"></i>
  </a>
  <admin-sidebar></admin-sidebar>
  
  <main class="page-content">            
      <div class="container">        
          <router-outlet></router-outlet>        
      </div>
      <!-- <button (click)="progressBar.start()">
        start
      </button>
      <button (click)="progressBar.complete()">
        stop
      </button> -->
      <!-- <footer-cmp></footer-cmp> -->
  </main >
</div>