<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)" accept='image/*' multiple="true" >
</div>

<div class="container-fluid">
  <div class="col-md-2 col-sm-6" style="display:inline-block; padding:1%"  *ngFor="let file of imagesToShow;let i= index">
    <button class="btn btn-danger btn-sm pull-right" (click)="removeFromPreview(imagesToShow.length - 1 - i)"><span class="fa fa-times"></span></button>
    <!-- style="width:20%; padding:1%; display:inline-block" -->
    <img  [src]="imagesToShow[imagesToShow.length - 1 - i].content">
  </div>
</div>

<div class="card-footer">
  <button type="button" style="width:100%" class="btn btn-success" [disabled]="imagesToShow.length==0" (click)="ucitajSlike()">Učitaj slike</button>
</div>